@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Glory:wght@500;700;800&display=swap');

:root {
  --default-font: 'Glory';
}

/* Material Icons */
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.orange600 { color: #FB8C00; }

body {
  /* font-family: 'Lobster', cursive; */
  font-family: var(--default-font), sans-serif;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;  
  font-family: 'Lobster', cursive;
}
.navigation .item {
  font-size: 40px;
  border-color: black;
  border-style: solid;
  border-radius: 20%;
  border-width: 0px;
  margin: 0px 20px 0px 20px;
}
.line {
  /* width:100%; */
  border-bottom: 2px solid black;
  /* height: 2px; */
}
.intro-image {
  display: flex;
  justify-content: center;
  /* max-height: 240px; */
}
.intro-image img {
  height: 240px;
}
.main {
  display: flex;
  justify-content: flex-start;
}
.main .content {
  flex: 2 2 auto;
  margin: 0px 20px 0px 20px;
}
.main .vl {
  flex: 0 1 auto;
  border-left: 2px solid black;
  /* height: 500px; */
  margin: 0px;
}
.main .updates {
  flex: 1 1 auto;
  margin: 0px 40px 0px 20px;
}
.topic {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin: 10px 0px 10px 0px;
}
.details {
  font-size: 15px;
  margin: 0px 0px 0px 20px;
  display: flex;
  align-items: center;
}

/* for small screens */
@media (max-width:699px) {
  .main .vl, .main .updates{
    display: none;
  }
}

/* big screens */
@media(min-width:700px) {
  .mobile {
    display: none;
  }
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

#updates-mobile ul{
  display: none;
}

.spin {
  /* width: 25%; */
  animation-name: rotate1;
  animation-duration: 2s;
}

@keyframes rotate1 {
  0% {
      transform: rotate(0);
  }
  100% {
      transform: rotate(360deg);
  }
}
